@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.font_jua {
  font-family: 'Jua', sans-serif;;
}

.hide {
  width: 0; height: 0;
  line-height: 0; font-size: 0;
  position: absolute;
  visibility: hidden;
}

.hover_dark:hover {
  filter: brightness(80%) contrast(180%);
}

a {
  text-decoration: none;
  color: #000;
}

div#wrap {
  position: relative;
}

/* header */
p#menuBtn {
  position: absolute;
  left: 40px; top: 32px;
  display: none;
}
p#menuBtn>span {
  width: 20px; height: 20px;
  display: block;
  height: 3px;
  background-color: #000;
  margin-bottom: 6px;
}
p#menuBtn>span:last-child {
  margin-bottom: 0px;
}

header#top {
  width: 100%;
  height: 70px;
  padding: 20px 0;
  box-sizing: border-box;
  position: fixed;
}
header#top:hover {
  background-color: #fff;
}
header#top>div {
  width: /* 100% */ 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#top img {
  width: 160px;
}
nav {
  width: 850px;
  display: flex;
  justify-content: space-between;
}
nav>ul>li {
  display: inline;
  margin-left: 55px;
}
nav>ul>li>a {
  font-size: 17px;
  line-height: 40px;
}
nav>div#search {
  margin: auto 0;
  position: relative;
}
nav>div#search>input {
  width: 230px; height: 30px;
  box-sizing: border-box;
  border: 1px solid #D2D2D2;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}
nav>div#search>p.btn {
  background: url(../image/search.png) no-repeat center/cover;
  width: 20px; height: 20px;
  position: absolute;
  right: 15px; top: 5px;
}

/* main */

h3 {
  font-size: 20px;
  line-height: 45px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-align: center;
}

div.content_wrap {
  width: 1100px;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-between;
}

figure>div.img_div {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  /* overflow: hidden; */
}
div.img_div>p {
  width: 100%;
  position: absolute;
  left: 15px; /* bottom: 15px; */
}
div.img_div>img {
  width: 100%;
}
div.img_div>p>button {
  width: 33px; height: 33px;
  text-indent: -9999px;
  border: none;
  border-radius: 5px;
  background: url(../image/cart.png) no-repeat center;
  background-color: rgba(0, 0, 0, 0.2);
}
div.img_div>p>button:nth-child(2) {
  background-image: url(../image/heart.png);
}
div.img_div>p>button:last-child {
  float: right;
  width: 66px;
  padding-left: 5px;
  background: url(../image/like.png) no-repeat left center;
  background-origin: content-box;
  background-color: rgba(0, 0, 0, 0.2);
}

/* box01 */
#box01 {
  height: 800px;
  overflow: hidden;
  margin-bottom: 65px;
}
#box01>ul {
  width: 1000%;
  height: 100%;
  display: flex;
}

#box01>ul>li {
  width: 10%;
  height: 100%;
  background: url(../image/main_img01.jpg);
  text-indent: -999999px;
}
#box01>ul>li:nth-child(2) { background: url(../image/main_img02.jpg) }
#box01>ul>li:nth-child(3) { background: url(../image/main_img03.jpg) }
#box01>ul>li:nth-child(4) { background: url(../image/main_img04.jpg) }
#box01>ul>li:nth-child(5) { background: url(../image/main_img05.jpg) }
#box01>ul>li:nth-child(6) { background: url(../image/main_img06.jpg) }
#box01>ul>li:nth-child(7) { background: url(../image/main_img07.jpg) }
#box01>ul>li:nth-child(8) { background: url(../image/main_img08.jpg) }
#box01>ul>li:nth-child(9) { background: url(../image/main_img09.jpg) }
#box01>ul>li:nth-child(10) { background: url(../image/main_img10.jpg) }

#box01>p#link {
  display: flex;
  position: absolute;
  left: calc(50% - 105px); top: 760px;
}

#box01>p#link>a {
  text-indent: -9999px;
  width: 14px; height: 14px;
  border: 2px solid #FFF;
  box-sizing: border-box;
  /* background-color: #FFF; -> jquery에서 현재 페이지만 설정 */
  border-radius: 50%;
  margin-right: 8px;
}

/* box02 */
#box02 {
  margin-bottom: 100px;
}

#box02 figure>figcaption {
  height: 83px;
  text-align: center;
  padding: 19px 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  background-color: #DDD;
}
#box02 figure.product01>figcaption {
  color: #EEAC53;
}
#box02 figure.product03>figcaption {
  background-color: #F89F59;
  color: #9F5927;
}
#box02 figure.product04>figcaption {
  background-color: #8ABCC7;
  color: #3F6396;
}
#box02 figure.product05>figcaption {
  background-color: #F7AEC1;
  color: #A25625;
}

#box02 figure>figcaption>span {
  font-size: 25px;
  line-height: 29px;
  color: #FFF;
}

#box02 figure.product01>figcaption>span {
  color: #000;
}

#box02 div.slide {
  height: 350px;
  position: relative;
  overflow: hidden;
}
#box02 div.slide>ul {
  height: 200%;
}
#box02 div.slide>ul>li {
  height: 50%;
}
#box02 div.slide figure {
  position: relative;
}
#box02 div.slide figure>figcaption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute; 
}
#box02 div.slide figure>figcaption>span {
  color: #000;
}
#box02 div.slide>p {
  position: absolute;
  right: 10px; bottom: 10px;
  width: 40px;
}
#box02 div.slide>p>button {
  text-indent: -9999px;
  width: 100%; height: 40px;
  border: none;
  background: url(../image/button_down.png) no-repeat center;
  background-color: rgba(255, 255, 255, 0.6);
}
#box02 div.slide>p>button.up {
  margin-bottom: 5px;
  background-image: url(../image/button_up.png);
}

#box02 figure:hover {
  filter: brightness(50%);
}

/* box03 */
#box03 {
  margin-bottom: 100px;
}

#box03 div.show {
  width: 1100px; height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
} 
#box03 div.show>p.control_btn {
  width: 100%;
  position: absolute;
  left: 0; top: 115px;
  display: flex;
  justify-content: space-between;
}
#box03 div.show>p.control_btn>button {
  width: 40px; height: 65px;
  text-indent: -9999px;
  border: none;
  background: url(../image/button_left.png) no-repeat center;
  background-color: rgba(255, 255, 255, 0.7);
}
#box03 div.show>p.control_btn>button:last-child {
  background-image: url(../image/button_right.png);
}

#box03 div.all {
  width: 200%;
  display: flex;
}
#box03 div.all>div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#box03 figure {
  width: 260px; 
}

#box03 figure>figcaption {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  color: #555;
}
#box03 figure>del {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  color: #555;
}
#box03 figure>ins {
  display: block;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 6px;
}
#box03 figure>span {
  font-size: 10px;
  background-color: #FF7B08;
  color: #FFF;
}

/* box05 */

#box05>div.content_wrap {
  height: 656px;
}
#box05 figure {
  width: 212px;
}
#box05 div.block01 {
  height: 100%;
}
#box05 div.block01>figure {
  float: left;
}
#box05 div.block01>figure:first-child {
  width: 434px;
}
#box05 div.block03>figure:last-child {
  width: 434px;
}
#box05 div.product_detail {
  display: none;
}

/* aside - Youtube Shortcut */
aside#youtube_shortcut {
  width: 100%;
  background-color: #FDDCB3; 
  padding-top: 50px; 
}
aside#youtube_shortcut>div {
  width: 1048px; height: 185px;
  margin: 0 auto;
  background: url(../image/youtube_shortcut_back.png) no-repeat right bottom/contain;
}
aside#youtube_shortcut h4 {
  font-size: 30px;
  margin-bottom: 16px;
}
aside#youtube_shortcut h4>span {
  color: #FF1E01;
}
aside#youtube_shortcut p {
  font-size: 15px;
  margin-bottom: 40px;
  color: #A9824F;
}
aside#youtube_shortcut a {
  display: block;
  width: 148px;
  border: 1.5px solid #000;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
}

/* aside - Buttons */
aside#buttons {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
aside#buttons>p {
  width: 35px; height: 35px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgba(255,255,255,0.6);
}
aside#buttons>p:first-child {
  margin-bottom: 10px;
}

/* aside - InfoBox */
aside#infoBox {
  width: 1100px;
  margin: 0 auto 30px;
  display: flex;
}
aside#infoBox>section {
  width: 49%;
}
aside#infoBox>section>h4 {
  line-height: 70px;
  font-size: 22px;
  font-weight: bolder;
}

#infoBox01 {
  margin-right: 30px;
}
#infoBox01>div {
  display: flex;
  height: 230px;
  border: 1px solid #E5E5E5;
  padding: 30px;
  box-sizing: border-box;
}
#infoBox01 dl {
  width: 50%; 
  padding-left: 30px;
}
#infoBox01 dl.call {
  border-right: 1px solid #E5E5E5;
  padding: 0 30px 0 0;
}
#infoBox01 dl>dt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}
#infoBox01 dl.call>dd:first-of-type {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 25px;
}
#infoBox01 dl.call ul {
  font-size: 12px;
  line-height: 17px;
  color: #A99CA6;
}
#infoBox01 dl.call ul>li:first-child {
  color: #F00;
}
#infoBox01 dl.bank ul {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 17px;
}
#infoBox01 dl.bank ul>li>span {
  font-weight: bold;
}
#infoBox01 dl.bank>dd:last-child {
  font-size: 10px;
  line-height: 15px;
  color: #A99CA6;
}

#infoBox02>div {
  display: flex;
  justify-content: space-between;
  height: 230px;
}
#infoBox02 a {
  width: 49%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: #E3E3E3;  
  color: white;
}
#infoBox02 a>dl>dt {
  padding-top: 50px;
  background: url(../image/youtube_logo.png) no-repeat center top;
  font-size: 18px;
  line-height: 35px;
}
#infoBox02 a>dl>dd {
  font-size: 12px;
  line-height: 17px;
}

#infoBox02 a#youtube_link>dl>dt {
  color: #000;
}
#infoBox02 a#insta_link {
  background: rgb(255,213,133);
  background: linear-gradient(21deg, rgba(255,213,133,1) 13%, rgba(243,132,101,1) 39%, rgba(203,92,161,1) 68%, rgba(126,114,208,1) 100%);
}
#infoBox02 a#insta_link>dl>dd {
  color: #FFE6A9;
}
#infoBox02 a#insta_link>dl>dt {
  background-image: url(../image/insta_logo.png);
}

/* footer */
footer {
  background-color: #F8F8F8;
  padding: 30px 0;
}
footer>div {
  width: /* 98% */ 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .box_left>ul {
  margin-bottom: 30px;
}
footer .box_left>ul>li {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #D2D2D2;
}
footer .box_left>ul>li:first-child { padding-left: 0; }
footer .box_left>ul>li:last-child { border: none; }

footer .box_left>dl {
  font-size: 10px;
  line-height: 18px;
  color: #999;
  margin-bottom: 10px;
}
footer .box_left>dl>dt,dd { display: inline; }
footer .box_left>dl>dd>a { color: #999; }
footer .box_left>dl>dd>a:hover { text-decoration: underline; }
footer .box_left>p {
  font-size: 11px;
  color: #999;
}
footer .box_left>p>strong { font-weight: bold; }
footer .box_left>p>a { color: #999; }
footer .box_left>p>a:hover { text-decoration: underline; }

footer .box_right {
  margin-top: 40px;
  padding-right: 85px;
  background: url(../image/escrow_inipay.png) no-repeat right;
}
footer .box_right p {
  font-size: 10px;
  line-height: 18px;
}
footer .box_right p.title { font-weight: bolder; }
footer .box_right p.text { color: #888; }